@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kollektif";
  src: url("./fonts/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kollektifbold";
  src: url("./fonts/Kollektif-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/FontsFree-Net-Montserrat-SemiBold.ttf");
}

/* input-field */
.input-field {
  @apply w-full p-3 border border-gray-300  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* btn-primary */
.btn-primary {
  @apply bg-customBlue  text-white px-6 py-2  hover:bg-customBlue transition;
}

/* btn-secondary */
.btn-secondary {
  @apply bg-customBlue text-white  px-6 py-0  hover:bg-customBlue transition;
}

@keyframes train-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-train {
  animation: train-scroll 20s linear infinite;
}
