@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kollektif";
  src: url("./fonts/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kollektifbold";
  src: url("./fonts/Kollektif-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
