@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Kollektif";
  src: url("./fonts/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kollektifbold";
  src: url("./fonts/Kollektif-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/FontsFree-Net-Montserrat-SemiBold.ttf");
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* input-field */
.input-field {
  @apply w-full p-3 border border-gray-300  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* btn-primary */
.btn-primary {
  @apply bg-customBlue  text-white px-6 py-2  hover:bg-customBlue transition;
}

/* btn-secondary */
.btn-secondary {
  @apply bg-customBlue text-white  px-6 py-0  hover:bg-customBlue transition;
}



@keyframes train-scroll-other {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-train {
  animation: train-scroll-other 10s linear infinite;
 
}

@keyframes train-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-train-home {
  animation: train-scroll 75s linear infinite;
 
}

.branding-animation {
  animation: train-move 30s linear infinite;
}

@keyframes train-move {
  0% {
    transform: translateX(-100%) translateY(-50%);
  }
  50% {
    transform: translateX(10%) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}

@keyframes train-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes train-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-train-left {
  display: flex;
  animation: train-left 60s linear infinite;
}

.animate-train-right {
  display: flex;
  animation: train-right 60s linear infinite;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Component Container */
.component-wrapper {
  background-color: white;
  padding: 50px 20px; /* Adjust padding for spacing inside components */
  margin: 0 auto; /* Center alignment */
  position: relative;
  z-index: 2; /* Ensure components are above the spacer */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for better visual separation */
}

/* Parallax Spacer */
.parallax-spacer {
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/warehouse/transport-logistics-concept-3.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}
.yellow-strip {
  height: 30px; /* Adjust strip height as needed */
  background-color: #c3a05f;
  width: 100%;
}

.parallax-spacer-khemergate{
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/Khmergate/airplane-man-transportation-aircraft.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */

}

.parallax-spacer-brandpulse{
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/table_meeting.png'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */

}

.parallax-spacer-aerofly{
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/uniformedPilot.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.parallax-spacer-aboutus{
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/airplane_about_hero.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.parallax-spacer-home {
  height: 800px; /* Adjust height as needed */
  background-image: url('./assets/home/2.ndimagejpg.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}
.parallax-spacer-homeglobe {
  height: 800px; /* Adjust height as needed */
  background-image: url('./assets/home/3_image_home.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.parallax-spacer-homelogic {
  height: 800px; /* Adjust height as needed */
  background-image: url('./assets/home/4th_image_home.jpg'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.parallax-spacer-global {
  height: 600px; /* Adjust height as needed */
  background-image: url('./assets/global_network/cargo-servicer-container-ship-docked-port-cargo-servicer-2-min.png'); /* Use ContainerImage source */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.parallax-spacertext {
  height: 800px; /* Adjust height as needed */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; /* Below components */
}

.animate-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.animate-text-appear {
  opacity: 1;
  transform: translateY(0);
}

.animate-text-delay-1 {
  transition-delay: 0.5s;
}

.animate-text-delay-2 {
  transition-delay: 1s;
}

.animate-text-delay-3 {
  transition-delay: 1.5s;
}

@keyframes trainScrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes trainScrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.scroll-row {
  display: flex;
  flex-direction: row;
  animation: trainScrollLeft 30s linear infinite;
}

.scroll-row-reverse {
  display: flex;
  flex-direction: row;
  animation: trainScrollRight 30s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cartoon-card {
  animation: fadeIn 0.5s ease-out forwards;
}

@media (max-width: 888px) {
  .cartoon-card {
    width: 85vw;
    margin: 0 auto;
  }
}





